
input[type=checkbox] {
	display:none;
}
  
input[type=checkbox] + label {
	display:inline-block;
	/* padding: 0 0 0 0px; */
	/* height: 32px; */
	background:url("../img/nocheck.png") no-repeat;	
	background-size: 16px;
	background-position: left; 
	padding-left: 25px;
	cursor: pointer;
}
  
input[type=checkbox]:checked + label {
	background:url("../img/check.png") no-repeat;
	/* height: 32px; */
	/* background-size: 50%; */
	display:inline-block;
	padding-left: 25px;
	background-size: 16px;
	background-position: left; 
	background-repeat: no-repeat;
	cursor: pointer;
}
  



/* 

input[type=checkbox].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
} */

/* input[type=checkbox].css-checkbox + label.css-label{
	padding-left:19px;
	height:14px; 
	display:inline-block;
	line-height:14px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;
	color: #999;
} */

/* input[type=checkbox].css-checkbox:checked + label.css-label{
	background-position: 0 -14px;
	color: #222;
} */
					
/* label.css-label {
	background-image:url('../img/check.gif');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */