
div,input,label {
  /* border: solid !important; */
}

h3{
  font-size: 1.4em !important;   
  margin-left: 100px; 
  position: absolute;
  top:30px;  
}

body {
  background: #fdfcfb;
  font-size: 0.9em;
  font-family: 'PT Mono';
  color: #222; 
  width:100%;
  margin: 0 !important;  
  overflow-x: hidden;
}

footer{
  height: 120px;
  width: 100%;    
  background-color: #20123a;
  color:yellow !important;    
  position: relative;
  bottom: 0px;
}

header{
  width: 100%; 
  height: 15%;  
  color:white;
  background-color: #20123a;
}

a{
  color:white;
  text-decoration: none !important;
}

label {
  margin: 0 !important;
}

#main{
  margin-top: 20px;
  margin-left: 10px;
  display: block;  
  float: right;
  margin-top: 20px;
  margin-right:10%;
}

#logo{  
  margin-left: 10%;
  margin-top: 20px;
  display: inline-block;  
  border-radius: 20px;  
}

#logo img {
  width: 60px;
}

#repo{
  display: block;   
  margin: 10px; 
  width: 100%;
  text-align: center;  
}

#links{
  display: block;
}

#links{  
  padding: 10px;
  color: white;  
}

footer a{
  color: white;
  padding: 20px;
}

#container{  
  border: 1px solid green;
  border-radius: 10px;
  padding: 10px;
  margin-left: 30%;  
  margin-top: 40px;
  padding-bottom: 80px; 
  max-width: 35%;
  min-width: 350px; 
  margin-bottom: 100px;  
}

#loading{  
  display: block;
  position: absolute;
  background: url('../img/load.gif') no-repeat;
  width: 18px;
  height: 10px;
  margin-left: 25%; 
  margin-top: 20px;
}

#edit{   
    background: url('/img/edit.gif') no-repeat;   
}

#optrate{ 
  background: url('/img/eurousd321.png') no-repeat; 
  cursor: pointer;
}

#btndark{  
  width: 25px;
  height: 25px;
  background: url('../img/Antu_contrast.svg') no-repeat;
  display: none;
}  

.btnpanel{
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  background-size: 25px !important;
}

.iconos{
  width: 30px;
  margin-left: 20px;
}

#panel{
  width: 8%;
  display: inline-block;
  margin-top: 10px;
}

#data{
  margin-left: 5%;
  width: 85%;
  display: inline-block;  
}

#front{
  margin-top: 30px;
}

#get-usd{
  background: none;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;  
  height: 48px;  
  width: 100%;
  font-size: 2.3em;
  text-align: center;
  display: inline-block;
}

#txttitulo{
  display: inline-block;
  letter-spacing: 5px;  
  width: 100%;
  margin-top: 0px;
  margin-left: 2px;
  text-align: center;
  font-size: 0.7em;
  color: #999;
}

#edit:hover{
    background: url(../img/edit.gif) no-repeat;    
    background-position: 0 -32px;
}

input {
    font-family: 'PT Mono';
    background: none;
    border: 0;
}

/* Chrome, Safari, Edge, Opera */
/* para quitar flechas en campos numericos*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder { color:#91c260; }
::-moz-placeholder { color:#91c260; } /* firefox 19+ */
:-ms-input-placeholder { color:#91c260; } /* ie */
input:-moz-placeholder { color:#91c260; }

#get-precio{
  font-size: 1.4em;
  width: 100%;
  height: 50px;
  padding: 0 20px 0 20px;
  margin-top: 20px;  
  color: #fff;
  margin-bottom: 30px;
  border-radius: 5px;    
}

svg{
  fill: currentColor;
}

.dolar{  
  color: #439a3b;
  background: #694 url(../img/back.gif);    
}

.icon{
  width: 200px;  
}

.euro{    
    background: #694 url(../img/back_01.gif);  
    color: #fff;  
    color: #394089;
}

.dark{
  background-color: #1f202d;
  color:  #999  ; 
  color: #333;  
}

.title{
  max-width: 150px;
}

.item{
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.data{
  float: right;
  text-align: right;  
  max-width: 150px;
  font-size: 1.2em;  
  max-height: 25px;
}

.values{
  width: 30%;
  float: right;
  text-align: right;  
}

#lista_total{
  float: left;    
  font-size: 1em;
  padding-top: 8px;
}

#preciototal{
  float: right;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label {
  display:inline-block;
  /* padding: 0 0 0 0px; */
  background:url("img/nocheck.png") no-repeat;
  /* height: 32px; */
  width: 200px;
  background-size: 16px;
  background-position: left; 
  padding-left: 25px;
}

input[type=checkbox]:checked + label {
  background:url("img/check.png") no-repeat;  
  width: 200px;
  display:inline-block;  
  padding-left: 25px;  
  background-size: 16px;
  background-position: left; 
  background-repeat: no-repeat;
}

#lista_aduana,#lista_correo{
  cursor: pointer;
}

.css-label{
  margin-bottom: 4px;
}

li{
  float: left;
  margin:5px;
  padding: 5px;
  list-style: none;  
}

a{
  text-decoration: none;  
}

.sub{
  font-size: 0.6em;
  vertical-align: 3px;
}

#preciototal{
  /* width: 200px; */
  /* float: right; */
  /* margin: -6px 0 5px 0; */
  font-size: 1.6em;   
  text-align: right;
  max-width: 190px;
}

.borde{
  /* margin: 0 0 26 0; */
  margin: 0 0 10 0;
  display: block;  
  float: left;
  width: 100%;
  border-top: 1px dashed #999;
}

cursor{
	color:white;
}

#btndock{
  display: block;
  position: absolute;
  bottom: 0;
  float: left;
  width: 27px;
  height: 27px;
  border: 0px;
  background: url('../img/attach.png') no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
#btndock:hover{
  background-position: 0 -27px;
}


/* ocultar flechas input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media screen and (max-width: 400px) {

div,input,label{
  /* border: solid; */
}

  footer{ 
    position: absolute;
    bottom: 0; 
    display: none !important;
  }

  header{
    /* height: 10%; */
  }

  .item{
    /* margin-top: 0.5em; */
    margin: 0 !important;
  }

  .data{
    max-height: 30px !important;
    font-size: 1.8em; 
    text-align: right !important;
    max-width: 50% !important; 
  }

  .title{
    font-size: 1.3em;
    width: 50% !important; 
    /* max-width: 50% !important; */
    max-height: 30px !important;    
  }

  #container{
    height: 70%; 
    max-width: 100%;         
    margin-top : 3% !important;
    margin-left:2% !important;         
    min-width: 80px;
    width: 96% !important;
    border: none;    
    /* max-height: 90% !important; */
  }

  #data{
    padding-top: 10px;
  }

  #logo{
    margin-left: 10px;
  }

  h3{
    margin: 70px;
    width: 70%;
  }

  #get-precio{    
    padding: 1em;    
    margin: 0 !important;
    font-size: 2em;
    margin-bottom: 25px !important;
  }

  #loading{
    background-size: 4em;
    height: 4em !important;
    width:  4em !important; 
    margin-left: 35% !important;
    margin-top: 20px !important;
  }



  .btnpanel{
    background-size: 32px !important;
    width: 32px;
    height: 32px;
    margin-top: 0 !important;
    margin-left: 0 !important;
  }

  #lista_total,#preciototal{
    font-size: 1.8em !important;
    padding: 0 !important;
  }

  #preciototal{
    text-align: right;
    max-width: 70%;
  }

  #get-usd{
    font-size: 3em;
    /* height: 1em; */
  }

  #front{
    height: 30%;
    width: 100%;
    margin: 0 !important;
  }

  .borde{
    margin-top: 10px !important;
  }

  #panel{        
    width: 10%;    
    float: right;
  }

  #txttitulo{
    font-size: 1em;
  }

  input[type=checkbox] {
    display:none;
  }

  input[type=checkbox] + label {
    display:inline-block; 
    background:url("img/nocheck.png") no-repeat; 
    width: 200px;
    background-size: 0.8em;
    background-position: left;
    padding-left: 1em;
    max-width: 180px;
  }

  span{
    padding-left: 0.5em;
  }

  nav{
    display: none !important;
  }

  #logo{
    /* margin: 3%; */
  }

  img{
    /* width: 128px !important;
    height: 128px !important;
    margin: 0 !important; */
  }

  input[type=checkbox]:checked + label {
    background:url("img/check.png") no-repeat;  
    width: 200px;
    display:inline-block;  
    padding-left: 1em;
    background-size: 0.8em;
    background-position: left; 
    background-repeat: no-repeat;
  }

}