
div,input,label {
  /* border: solid !important; */
}

h3{
  font-size: 1.1em !important;   
  margin-left: 52px; 
  position: absolute;
  top:26px;  
  color: #e7e9d2;
}

body {
  font-size: 1em !important;
  width:100%;
  margin: 0 auto;  
  padding: 0 auto;
  background-image: url("img/pattern.gif");
  background-color: rgb(149, 189, 75) !important;
  font-family: "IBM Plex Mono", monospace !important;  
}

header{
  float: left;
  width: 100%; 
  height: 8%;  
  color:white;
  background-color:#3d973a;
}

#container{
  float: left;
  width: 100%;
  height: 62%;
  background-image: url("img/back.png");
  background-position: center;
}

#ticket{  
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  //border: 1px solid green;
  width: 32%;
  min-width: 580px;
}

#ticket-fondo{
  float: left;
  width: 100%;
  margin: 0px;
  padding-bottom: 40px;
  background-color: #fbfbfb;
  
}
/*
.ticket-top{
  width: 620px;
  height: 4px;
  float: left;
  background-image: url("img/b1.png");
}
.ticket-bott{
  width: 620px;
  height: 5px;
  float: left;
  background-image: url("img/b.png");
}*/

footer{
  float: left;
  height: 30%;
  width: 100%;    
  background-color: #3d973a;
  color:yellow !important;    
}

a{
  text-decoration: none !important;
}

#main{
  margin-top: 220px;
  margin-left: 10px;
  display: block;  
  float: right;
  margin-top: 20px;
  margin-right:2%;
}

#logo{  
  margin-left: 2%;
  margin-top: 16px;
  display: inline-block; 
}

.logo-img{
  float: right;
  width: 31px;
  height: 38px;
  background-image: url(img/bolsa.png);
}

#repo{
  margin: 0; 
  width: 100%;
  text-align: center;  
}

#links{
  width: 100%;
  height: 80px;
  float: left;
  text-align: center;
  margin-top: 8%;
}

#links{  
  padding: 10px;
  color: white;  
}

footer a{
  color: white;
  padding: 20px;
}

#loading{  
  display: block;
  position: absolute;
  background: url('../img/load.gif') no-repeat;
  width: 18px;
  height: 10px;
  margin-left: 25%; 
  margin-top: 20px;
}

#btndark{  
  width: 25px;
  height: 25px;
  background: url('../img/Antu_contrast.svg') no-repeat;
  display: none;
}  

.iconos{
  width: 32px;
  height: 32px;
  margin-left: 16px;
}

#ticket-head{
  float:left;
  width: 100%;
  height: 160px;
}

#data{
  float: left;
  height: 100%;  
  width: 50%;
}

a#opciones{
  height: 100%;
  float: left;
  font-family: 'Arbutus Slab', serif !important;
  background: none;
  width: 16.66%;
  font-size: 1.8em;
  text-align: center;
  background-color: #fbfbfb;
  color: rgb(210, 210, 220);
  //border-left: 1px solid #333;
}

a#opciones:hover,a#opciones:focus{
  margin-top: -6px;
}

a.usd-sel:hover,a.usd-sel:focus{
  color: #3d973a !important;
}

a.eur-sel:hover,a.eur-sel:focus{
  color: #5e3b9a !important;
}

a.edit-sel:hover,a.edit-sel:focus{
  color: #a77743 !important;
}

#edit,#optrate{
  margin-top: 45px;
  cursor: pointer;
  border-left: 1px solid #cecece;
}

#edit,#optrate,.DE{
  float: left;
  width: 100%;
  text-align: center;
}


.DE{
  
  font-family: 'IBM Plex Mono', serif !important;
  font-size: 16px;
}

#get-precio{
  font-size: 3em;
  width: 100%;
  height: 80px;
  padding: 0 30px 0 20px;
  margin-bottom: 30px;
  background-color: #eaeaea;
  background-image: url("img/ea.gif"); 
  border-top: 1px solid #fbfbfb;
  text-align: right;
  color: #333 !important;
}

#get-usd{
  float: left;
  font-family: 'Arbutus Slab', serif !important;
  background: none;
  letter-spacing: 3px;
  margin-top: 11%;
  height: 40%;  
  width: 100%;
  font-size: 3.6em;
  text-align: center;
  display: inline-block;
  color: #3d973a !important;
}


.dolar{
  color: #3d973a !important;
}

.euro{    
  color: #394089 !important;
}

#txttitulo{
  letter-spacing: 5px;  
  width: 100%;
  height: 50px;
  margin-top: 0px;
  margin-left: 2px;
  text-align: center;
  font-size: 0.9em;
}

input {
    border: 0;
}

/* Chrome, Safari, Edge, Opera */
/* para quitar flechas en campos numericos*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder { color:#91c260; }
::-moz-placeholder { color:#91c260; } /* firefox 19+ */
:-ms-input-placeholder { color:#91c260; } /* ie */
input:-moz-placeholder { color:#91c260; }

svg{
  fill: currentColor;
}

.icon{
  width: 200px;  
}

ul{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

li,#lista-aduana,#lista-correo{
  padding: 0px 35px 0px 30px;
  float: left;
  width: 620px;
  list-style: none;
}

.data1,.data2{
  float: right;
  text-align: right;  
  color: #333;
  width: 70%;
}

.title1,.data1{
  font-size: 18px;
 }

.data2,.title2{
  font-size: 1.2em;
}

#lista_total{
  float: left;    
  font-size: 1em;
}

#preciototal{
  float: right;
  text-align: right;
  font-size: 0.5em;
}

input[type=checkbox] {
  display:none;
}

input[type=checkbox] + label {
  display:inline-block;
  /* padding: 0 0 0 0px; */
  background:url("img/nocheck.png") no-repeat;
  /* height: 32px; */
  width: 200px;
  background-size: 16px;
  background-position: left; 
  padding-left: 25px;
}

input[type=checkbox]:checked + label {
  background:url("img/check.png") no-repeat;  
  width: 200px;
  display:inline-block;  
  padding-left: 25px;  
  background-size: 16px;
  background-position: left; 
  background-repeat: no-repeat;
}

#lista_aduana,#lista_correo{
  cursor: pointer;
}

.css-label{
  margin-bottom: 4px;
}
.sub{
  font-size: 0.6em;
  vertical-align: 3px;
}

#preciototal{
  /* width: 200px; */
  /* float: right; */
  /* margin: -6px 0 5px 0; */
  font-size: 1.6em;   
  text-align: right;
  max-width: 190px;
}

.borde{
  /* margin: 0 0 26 0; */
  margin: 16px 0 16px 0;
  display: block;  
  float: left;
  width: 100%;
  border-top: 1px dashed #999;
}

#btndock{
  display: block;
  position: absolute;
  bottom: 0;
  float: left;
  width: 27px;
  height: 27px;
  border: 0px;
  background: url('../img/attach.png') no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
#btndock:hover{
  background-position: 0 -27px;
}


/* ocultar flechas input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}