

h3{
/* color:red; */
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */  
  /* margin-left:30px;
  padding-top: 20px;
  width: 500px;*/
  
  /* display: inline;

  font-family:'PT Mono';
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.25rem;
  color:white;   */

  display: inline;
  margin-left: 10px;  
}

#main{
  margin-top: 20px;
  margin-left: 10px;
  display: block;
}

#logo{
  width: 60px;
  display: inline-block;
}

footer{
  height: 150px;
  width: 100%;
  background-color: #20123a;
  color:yellow;
}

header{
  width: 100%; 
  height: 120px;  
  color:white;
  background-color: #20123a;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 100; */
}

a{
  color:white;
}

#repo{
  display: block;    
}

#links{
  display: block;
}

body {
  background: #fdfcfb;
  font-size: 0.9em;
  font-family: 'PT Mono';
  color: #222;
  /* margin-left: 10%; */
  width:100%;
  height:80%;  
  margin: 0 !important;
  
}
#links{
  padding: 10px;  
}

#container{
  width: 80%;
  border: 1px solid green;
  border-radius: 10px;
  padding: 10px;
  margin-left: 30%;
  margin-top: 10px;
  padding-bottom: 80px;
  max-width: 40%;
  min-width: 400px;
  margin-bottom: 50px;
}

#loading{
  /* left: 47%; */
  /* top: 33px; */
  display: block;
  position: absolute;
  background: url('../img/load.gif') no-repeat;
  /* float: left; */
  width: 18px;
  height: 10px;
  margin-left: 25%; 
  margin-top: 20px;
}

#edit{   
    background: url(../img/edit.gif) no-repeat;
    /* margin: -5px 0px 0px 85%;
    position: absolute;     */
}

#optrate{
  /*background: url('../img/change16.png') no-repeat; */
  background: url('../img/usdtoeur1.jpeg') no-repeat; 
  cursor: pointer;
  /* margin: 25px 10px 10px 85%;
  position: absolute; */

/*  width: 30px;
  height:30px; 
  cursor: pointer;  
  margin: 20px 10px 10px 302px;
  position: absolute;*/
}

#btndark{  
  width: 25px;
  height: 25px;
  background: url('../img/Antu_contrast.svg') no-repeat;
  display: none;
  /* //background: url('../img/dark.svg') no-repeat;   
  //position: absolute; */
}

.btnpanel{
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#panel{
  height: 50px;  
  padding-top: 20px;
  width: 30px;  
  /*display: inline;*/
  position: relative;
  margin-left: 0px;
  margin-top: 5px;
  left: 90%;
}

#contenedor{
  float: left;
  margin: 20px 20px 0px 20px;
  width: 90%;  
}

#no{
  float: left;
  margin-top: 10px;
  width: 100%;  
}

#get-usd{
  background: none;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
  /* margin: 0px 0px 0px 60px; */
  height: 48px;
  /* float: right; */
  /*width: 280px;*/
  width: 100%;
  font-size: 2.3em;
  text-align: center;
}

#txttitulo{
  letter-spacing: 5px;
  float: left;
  width: 100%;
  margin-top: 0px;
  margin-left: 2px;
  text-align: center;
  font-size: 0.7em;
  color: #999;
}

#edit:hover{
    background: url(../img/edit.gif) no-repeat;
    background-position: 0 -20px;
}

input {
    font-family: 'PT Mono';
    background: none;
    border: 0;
}

/* Chrome, Safari, Edge, Opera */
/* para quitar flechas en campos numericos*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder { color:#91c260; }
::-moz-placeholder { color:#91c260; } /* firefox 19+ */
:-ms-input-placeholder { color:#91c260; } /* ie */
input:-moz-placeholder { color:#91c260; }

#get-precio{
  font-size: 1.4em;
  width: 100%;
  height: 50px;
  padding: 0 20px 0 20px;
  margin-top: 20px;
  float: left;	
  color: #fff;
  margin-bottom: 20px;
  /*background: #694 url(../img/back.gif);*/
}

.dolar{
  /*color: #fff;*/
  color: #439a3b;
  background: #694 url(../img/back.gif);    
}

.icon{
  width: 200px;  
}
.euro{    
    background: #694 url(../img/back_01.gif);  
    color: #fff;
    /*color: #65469b;*/
    color: #394089;
}

.dark{
  background-color: #1f202d;
  /* color: #ffffffe0;
  color:  #999  ; */
  color: #333;  
}

#lista, #lista_aduana, #lista_total{
  float: left;
  height: 14px;
  font-size: 1em;
  width: 100%;
  margin-bottom: 10px;
  margin-right:10px;
}

.css-label{
  margin-bottom: 4px;
}

li{
  float: left;
  margin:5px;
  padding: 5px;
  list-style: none;
  
}

a{
  text-decoration: none;  
}


/* #lista_aduana{
   width: 100%; 
} */

#aduana{
margin:0px 20px 0px 0px;
}

#tasa{
	width:50px;
	margin-left:60px;
	text-align: right;
}

#lista_total{
  margin-top: 10px;
  height: 30px;
}

.sub{
  font-size: 0.6em;
  vertical-align: 3px;
}

#total, #afip, #aduana,#tasa, #preciototal,#optaduana{
  float: right;
  text-align: right;  
  width: 150px;
  font-size: 1.2em;
  margin-top: -3px;
}

#preciototal{
  margin: -6px 0 5px 0;
  font-size: 2em;
  width:250px;
}

#borde{
  margin: 0 0 26 0;
  display: block;
  float: left;
  width: 100%;
  border-top: 1px dashed #999;
}

cursor{
	color:white;
}

/*#get-precio:hover{
	cursor:white;
}*/

#btndock{
  display: block;
  position: absolute;
  bottom: 0;
  float: left;
  width: 27px;
  height: 27px;
  border: 0px;
  background: url('../img/attach.png') no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
#btndock:hover{
  background-position: 0 -27px;
}